#clock,
#date {
  font-size: 175px;
  width: 1000px;
  margin: 30px auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 20px;
}

body {
  text-align: center;
}

h1 {
  font-size: 100px;
  margin-top: 80px;
}
